.global
{
	background-color: #ffffff;
	max-width:1200px;
	margin:auto;
	padding:1%;
}

header
{
	background-color: #E8ECF0;
	width:100%;
}

.ariane
{
	width:100%;
}

.corps
{
	background-color: #E8ECF0;
	width:100%;
	box-sizing: border-box;
}

footer
{
	background-color: #E8ECF0;
	width:100%;
	box-sizing: border-box;
	padding:1%;
}

.entete
{
	width:75%;
	float: right;
}

.contenu
{
	padding:2%;
}

.videodrone
{
	padding:1%;
	float:right;
}

.drone1
{
	width:500px;
	float:right;
	padding:1%;
}

.fin
{
	clear:both;
}

.link
{
	color: #595959;
}
.link:hover
{
	color: #543b5c;
}
.link:visited
{
	color: #36084d;
}

.sources
{
	width: 30%;
	float: left;

	padding:2%;
}


.logoIut
{
	float: right;
	width: 50%
}

.presentation
{
}

.IUT
{
	float: left;
	width: 20%;
}

.UT3

{
	float: right;
	width:70%
}

.logo
{
	width:200px;
	height:200px;
	float : left;
}

.logo2
{
	height:90px;
	float: left;
}

.logo3
{
	height:90px;
	float:right;
}


h1
{
	font-size: 2em;
	font-family: Vogue;
	text-align : center;
}

p
{
	font-family:Arial;
}

nav{
    margin: 0 auto;
    background-color: #ff0011;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
		background-color: #ff0011;
		color: #f1edb6;
    border-bottom: 1px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    background-color: #c3242d;
	color:#f1edb6;
    border-bottom: #f1edb6;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: #ff0011;
	color:#f1edb6;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: #c3242d;
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

.Delphine
{
	float: left;
	width: 45%;
}

.Delphine img
{
	display:block;
	width: 25%;
}

.Quentin
{
	float: right;
	width: 45%;
}


.Quentin img
{
	display:block;
	width: 25%;
}

.Abrina
{
	float: left;
	width: 45%;
}

.Abrina img
{
	display:block;
	width: 25%;
}

.Theo
{
	float: right;
	width: 45%;
}


.Theo img
{
	display:block;
	width: 25%;
}

td
{
    border: 1px solid black;
}

table
{
	border-collapse: collapse;
}
body
{
	background-color: #c1c0c0;
}
